<html>

<body>
    <form method="POST" action="/new">
        <label for="user">Username:</label>
        <input type="text" id="user" name="user" />
        <button type="submit">Submit</button>
    </form>
</body>

</html>